.header {
  color: $primaryColor;
  font-family: $fontFamily;

  &__title {
    font-family: $fontFamily;
    color: $primaryColor;
    font-size: $baseFontSize * 4px;
  }

  &__content {
    font-family: $fontFamily;
    color: $primaryColor;
    font-size: $baseFontSize * 4px;
  }
}
