.header__title {
  font-weight: $fontWeightMedium;
  font-size: $baseFontSize * 3px;
  line-height: $baseLineHeight * 16px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $primaryColor;
  margin: 0 0 32px 0;
}
