@import "../vendor/normalize.css";
@import "../vendor/fonts.css";
@import "./modules/variables.scss";
@import "./modules/functions.scss";
@import "./modules/mixins.scss";

@import "./modules/blocks/page/page.scss";

@import "./modules/blocks/header/header.scss";
@import "./modules/blocks/header/header__title.scss";

@import "./modules/blocks/menu/menu.scss";

$one: 16;

.sidebar {
  float: left;
  margin-left: pow(4, 3) * 1px;
  margin-right: divide($one, 2) * 1px;
}

.link {
  color: blue;

  & > .span {
    color: red;
  }
  &:hover {
    color: lightblue;
  }

  &:focus {
    color: darkblue;
  }

  &::after {
    content: "";
  }
}
